<%- include ("../../partials/header") %>

    <body>
        <%-include ("../../partials/navbar") %>

            <div class="container">
                <hr>
                <h2>Artigos</h2>
                <br>
                <a class="btn btn-primary" href="/admin/user/create"> Criar um Usuário</a>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>email</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>

                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.createdAt %>
                            </td>

                            </form>
                            </tr>

                            <% }) %>
                    </tbody>

                </table>
            </div>

    </body>


    <%- include("../../partials/footer") %>